@import "tailwindcss";

:root {
  --foreground: #111418;
  --background: #f8f9fa;
}

@theme inline {
  --font-primary:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  ::selection {
    color: var(--background);
    background: var(--foreground);
  }

  button {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8f9fa;
    --background: #111418;
  }
}
