@import "tailwindcss";

:root {
  --foreground: #111418;
  --background: #f8f9fa;
  --hero-padding: 20px;
  --radius: 25px;
}

/* 
(from https://tailwindcss.com/docs/theme#referencing-other-variables)
When defining theme variables that reference other variables, use the inline option
*/
@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --font-primary:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --radius: var(--radius);

  --spacing-hero: var(--hero-padding);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  ::selection {
    color: var(--background);
    background: var(--foreground);
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .gradient-bg {
    background-image:
      radial-gradient(70.71% 99% at 100% 39.75%, #00875e 0%, #000000 100%),
      radial-gradient(70.41% 100% at 50% 0%, #c7910c 0%, #c62a34 100%);
    background-blend-mode: difference;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8f9fa;
    --background: #111418;
  }
}

@media (width >= 640px) {
  :root {
    --hero-padding: 27px;
    --radius: 31px;
  }
}

@media (width >= 768px) {
  :root {
    --hero-padding: 35px;
    --radius: 37px;
  }
}

@media (width >= 1024px) {
  :root {
    --hero-padding: 42px;
    --radius: 44px;
  }
}

@media (width >= 1280px) {
  :root {
    --hero-padding: 46px;
    --radius: 47px;
  }
}

@media (width >= 1536px) {
  :root {
    --hero-padding: 50px;
    --radius: 50px;
  }
}
